---
import '../styles/blog.css'

import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title} class="prose prose-lg dark:prose-invert mx-auto">
  <div class="description">
    <p><em>{frontmatter.description}</em></p>
  </div>

  <div class="date flex flex-wrap gap-4">
    <span>创建时间：{frontmatter.pubDate.toString().slice(0,10)}</span>
    <span>最后修改时间：{frontmatter.lastUpdateDate.toString().slice(0,10)}</span>
  </div>

  <div class="tags">
    {frontmatter.tags.map((tag: string) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>

  <div class="languages">
    {frontmatter.languages.map((language: string) => (
      <p class="language"><a href={`/languages/${language}`}>{language}</a></p>
    ))}
  </div>

  <slot />
</BaseLayout>